# spaCy model used for French lemmatization
SPACY_MODEL=fr_core_news_md

# Path to the raw manifestos parquet file
URL_RAW=https://minio.lab.sspcloud.fr/sny/mlops-manifesto/processed/manifestos_raw.parquet