# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Environment
.env

# Outputs / artifacts
outputs/
logs/
*.joblib

# Data
data/
*.zip
*.parquet

# Notebooks
.ipynb_checkpoints/

# Editor / OS
.vscode/
.DS_Store